.centralizar{
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;

}
#fundo_calculadora{
    width: 420px;
    padding-bottom: 10px;
    background: black;
    border-radius: 10px;  
    box-shadow: 1px 1px 5px #000;
}
#conteudo_calculadora{
    width:332px ;
}
#conteiner_resultado{
    width: 325px;
    height: 40px;
    background: #fff;
    font-size: 20px;
    text-align: right;
}
#botoes{
    width: 400px;
}
button{
    width: 80px;
    height: 80px;
    background-color: grey;
    font-size: 30px;
}
button:hover{
    background-color: rgb(57, 57, 57);
    color: #fff;
}
